body {
	background-color: #111;
	color: #FFF;
	font-family: sans-serif;
	margin: 0;
	text-align: center;
}

.parameter {
	margin: 10px;
}

button {
	background-color: transparent;
	color: inherit;
	cursor: pointer;
	border-width: 3px;
	border-radius: 8px;
	font-size: 36px;
	padding: 5px 15vw;
	margin: 5px;
}
button:hover {
	border-color: #5ed95e;
}

img {
	max-height: 80vh;
	max-width: 95vw;
}

@media screen and (min-width: 400px) {
	.parameter {
		display: inline-flex;
	}
}

footer {
	margin-top: 10px;
}

a {
	color: #5ed95e;
}
a:hover {
	color: #169316;
}

/* Shamelessly stolen from
https://www.w3schools.com/howto/howto_css_custom_checkbox.asp */

label {
	display: block;
	position: relative;
	padding: 0 25px;
	margin-bottom: 12px;
	cursor: pointer;
	user-select: none;
}

label input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 20px;
	width: 20px;
	background-color: #eee;
	border-radius: 50%;
}

label:hover input ~ .checkmark {
	background-color: #ccc;
}

label input:checked ~ .checkmark {
	background-color: #169316;
}

.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

label input:checked ~ .checkmark:after {
	display: block;
}

label .checkmark:after {
	top: 5px;
	left: 6px;
	width: 9px;
	height: 9px;
	border-radius: 50%;
	background: white;
}
